* {
    box-sizing: border-box; 
}

body {
    display: flex;
    flex-direction: column;
    background: rgb(113, 34, 43);
    padding-bottom: 56px; 
    font-family: Helvetica, Arial, sans-serif;
}  

h1 {
    text-align: center;
    padding: 10px;
}

img{
    height: 250px;
}

header {
    display: flex;
    padding: 10px; 
    justify-content: center;
    height: 3.2%;
}

a{
    color: inherit;
    text-decoration:none;
}

CampusImages > a{
    color: inherit;
}

form{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 43%;
}

form > div{
    padding: 0.5em;
}

form > button{
    border-radius: 5%;
    border: black;
    background-color: rgba(255, 154, 21, 0.822);
    font-size: 1.2em;
    color: rgb(105, 31, 31);
    text-decoration: none;
    width: 50%;
}

#main{
    padding-left:0;
    color: rgb(255, 157, 21);
    display: flex;
    width: 100%;
    flex-direction: column; 
    flex-wrap:wrap;
    justify-content: center;
}

.footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 154, 21, 0.822);
    color:brown;
    bottom:0;
    left: 0;
    width: 100vw;
    border-top: 1px solid rgba(255, 145, 0, 0.733);
    text-decoration:none;
}

/* Navigation style */

.nav-bar{
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.nav-item{
    border-radius: 10%;
    border: black;
    background-color: rgba(255, 154, 21, 0.822);
    font-size: 1.2em;
    color: rgb(105, 31, 31);
    text-decoration: none;
    width: 82px;
    text-align: center;
}


/* Home page image */

.headImage{
    display: flex;
    width:100%;
    height: 500px;
    justify-content: center;
    padding: 10px;
    border-radius: 0 0 1em 1em;
}

/* Campus page */

.Campuses {
    display: flex;
    flex-direction: column;
    width:100vw;
    margin: 1.5em;
    justify-content: center;
}

.Campus-features-Container{ /*not being used right now*/
    display: flex;
    flex-direction: row;
    margin: 4em;
    flex-flow: row wrap;
    height: 100vh;
    justify-content: space-evenly;
}

.Campus-features{
    display: flex;
    flex-direction: row;
    margin: 4em;
    flex-flow: row wrap;
    height: 100vh;
    justify-content: space-evenly;
}

.CampusImages{
    padding:20px;
    display:flex;
    flex-direction: column;
    width: 40%; 
}

.AddACampusButton{
    border-radius: 5%;
    border: black;
    display: flex;
    background-color: rgba(255, 154, 21, 0.822);
    font-size: 1.2em;
    color: rgb(105, 31, 31);
    text-decoration: none;
    width: 16%;
    text-align: center;
    margin-left: 40%;
}

/* Students page Table */


.Students-page > h1{
    margin: 1.5em;
}


.Student-table{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}

.AddAStudentButton{
    border-radius: 5%;
    display: flex;
    justify-content: center;
    width: 13%;
    border: black;
    background-color: rgba(255, 154, 21, 0.822);
    font-size: 1.2em;
    color: rgb(105, 31, 31);
    text-decoration: none;
    padding: 2px;
    text-align: center;
    margin-left: 43%;
}

th{
    padding: 20px;
    text-align: center;
    border-style:hidden;
}

td{
    text-align: center;
    padding: 5px;
}

tr{
    border-top: solid 3px rgba(153, 153, 153, 0.116);
}

/* Single Campus Page */

.SingleCampus {
    display: flex;
    flex-direction: column;
    width:100vw;
    margin: 1.5em;
    justify-content: center;
}

.Single-Campus-features{
    display: flex;
    flex-direction: row;
    margin: 1em;
    flex-flow: row wrap;
    height: 60vh;
    justify-content: space-evenly;
}

.SingleCampusImage{
    padding:10px;
    display:flex;
    flex-direction: column;
    width: 40%; 
}
.Single-Campus-features > p{
    width:70%;
}

