* {
    box-sizing: border-box; 
}

body {
    display: flex;
    flex-direction: column;
    background: rgb(110, 35, 44);
    padding-bottom: 56px; 
}  

#main{
    padding-left:0;
    color: rgb(255, 157, 21);
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.footer{
    position: fixed;
    background-color: rgba(255, 154, 21, 0.822);
    color:brown;
    bottom:0;
    left: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 145, 0, 0.733);


}

.Campuses {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:50%;
    height:250px;
}


.bigLogo{
    /* display: inline-block; */
    /* justify-content: center;
    height: 80vh;
    width: 100vh;  */
    margin-top:0;
}

.headImage{
    display: flex;
    width:100%;
    height: 450px;
    justify-content: center;
    padding: 10px;
    border-radius: 0 0 1em 1em;
}